{{ define "content" }}
    <p class="lead">
        <a href="/thread/new">创建群主</a> or 加入群组!
    </p>

    {{ range . }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }}</span>
        </div>
        <div class="panel-body">
             {{ .User.Name }} - {{ .CreatedAt | fdate }} - {{ .NumReplies }} 回复.
            <div class="pull-right">
                <a href="/thread/read?id={{.Uuid }}">更多</a>
            </div>
        </div>
    </div>
    {{ end }}

{{ end }}